<h1>Голосовая почта</h1>
<hr>
<form action="" class="filter">
    <div class="row">
        <div class="col-1-4">
            <label for="">Период</label>
            <select #filterInputDate name="filterDate" id="" class="form-input" [(ngModel)]="filterDate">
                <option value="">за все время</option>
                <option value="Today">за сегодня</option>
                <option value="Yesterday">за вчера</option>
                <option value="Last7Days">за последнюю неделю</option>
                <option value="ThisMonth">за текущий месяц</option>
                <option value="LastYear">за прошлый год</option>
            </select>
        </div>
        <div class="col-1-4">
            <label for="">Номер</label>
            <input #filterInputNumber (keyup)="0" name="filterNumber" type="text" class="form-input search-field" [(ngModel)]="filterNumber">
        </div>
        <div class="col-1-4">
            <label for="">Длительность</label>
            <select #filterInputDuration name="filterDuration" id="" class="form-input" [(ngModel)]="filterDuration">
                <option value="60">до 1 минуты</option>
                <option value="180">до 3 минут</option>
                <option value="300">до 5 минут</option>
                <option value="600">до 10 минут</option>
            </select>
        </div>
        <div class="col-1-4">
            <label for="">&nbsp;</label>
            <button class="form-button form-button-reset" (click)="resetForm()">Сбросить фильтр</button>
        </div>
    </div>
</form>

<table class="messages-list">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Номер</th>
            <th>Запись сообщения</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let msg of (MessagesList | fromFilter : filterInputNumber.value : ['From'] | dateFilter : filterInputDate.value : ['Received'] | durationFilter : filterInputDuration.value : ['Duration'] | slice:PagerService.pager.curPage:(PagerService.pager.curPage+PagerService.pager.numOfItems))">
            <td>{{msg.Received | date:'dd.MM HH:mm'}}</td>
            <td>{{msg.From}}</td>
            <td><audio controls="controls" preload="none">
                  <source type="audio/wav" src="/media/{{msg.Filename}}"/>
              </audio> {{msg.Duration | secPipe}}</td>
            <td>
                <a href="/media/{{msg.Filename}}" download="{{msg.Filename}}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAhElEQVQ4T2NkoBAw4tH/H00Oq9pRAxgYBmcYzAJGXyqO6J0NFE9DlsPmBXagggNAbIFmyHEg3xGIfxIyACQvBcRngVgCqvgFkDYG4mfoLoO5AJbqkF1kBXUJSI8DEB9D0gxXj88AkPp0IAYpBoULMiDaABxhCTYUBBjRXYBLAy5xyg0AAIP1GxE/KA4uAAAAAElFTkSuQmCC" alt=""></a>
            </td>
        </tr>
    </tbody>
</table>

<ul class="pagenav">
    <li><a href="" class="pagenav-prev" (click)="PagerService.setPage($event, 1)">first</a></li>
    <li *ngFor="let number of PagerService.pager.numbers"><a [class.active]="number === PagerService.pager.curPage" href="{{number}}" (click)="PagerService.setPage($event, number)">{{number}}</a></li>
    <li><a href="" class="pagenav-next" (click)="PagerService.setPage($event, PagerService.pager.totalPages)">last</a></li>
</ul>
